# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. С помощью операции среза выведите только элементы с четными индексами.

**Решение:**

In [1]:
values = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

even_index_values = values[::2]
print(even_index_values)

(10, 30, 50, 70, 90)

## Задание 2

**Условие:**
Создайте список из ```10``` элементов, которые могут быть только ```0``` или ```1```. Примените к полученному списку операцию ```set()```.

**Решение:**

In [2]:
values = [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
unique_values = set(values)
print(unique_values)

{0, 1}

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата. Добавьте в него несколько сотрудников. В цикле проиндексируйте зарплату всем сотрудникам на ```10%```.

**Решение:**

In [7]:
employees = {
    "Alice": 50000,
    "Bob": 60000,
    "Charlie": 70000,
    "David": 55000,
    "Eve": 65000


# Добавление новых сотрудников
employees["Frank"] = 72000
employees["Grace"] = 58000

# Увеличение зарплаты на 10%
for employee in employees:
    employees[employee] *= 1.1
}
print(employees)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-7-a58740acfb17>, line 6)