# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. Выведите элементы кортежа по целым положительным индексам и по целым отрицательным индексам.

**Решение:**

In [1]:
values = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in range(10):
    print(values[i])

for i in range(-10, 0):
    print(values[i])

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

## Задание 2

**Условие:**
Создайте список из ```10``` последовательных чисел. Прибавьте ```1``` к значениям списка, проходя по нему в цикле.

**Решение:**

In [2]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(len(values)):
    values[i] += 1

print(values)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата.

**Решение:**

In [5]:
employees = {
    "Alice": 3000,
    "Bob": 3500,
    "Charlie": 3200,
    "David": 4000,
    "Eve": 3800
}

print(employees)

{'Alice': 3000, 'Bob': 3500, 'Charlie': 3200, 'David': 4000, 'Eve': 3800}