
# 2.1 Быстрое введение. Синтаксические основы языка Python

## Задание 1

**Условие:**
Создайте коллекцию данных типа ```tuple``` из элементов различных типов данных.

**Формат ответа:**
Кортеж (например, ```(1,'str',2.7)```)

**Решение:**

In [3]:
my_tuple = (1, 'hello', 3.14, True)
print(my_tuple)

(1, 'hello', 3.14, True)

## Задание 2

**Условие:**
Проверьте на истинность выражения :

*   ```1 > 2```
*   ```3**2 > 2**3```
*   ```'a' < 'b'```
*   ```'c' < 'b'```
*   ```'a' in ['b','a','c']```


**Формат ответа:**
Кортеж из булевых значений (например, ```(True, False, True,False, True)```)

**Решение:**

In [4]:
'c' < 'b'

False

In [5]:
expression_1 = 1 > 2
expression_2 = 32 > 23
expression_3 = 'a' < 'b'
expression_4 = 'c' < 'b'
expression_5 = 'a' in ['b', 'a', 'c']

boolean_tuple = (expression_1, expression_2, expression_3, expression_4, expression_5)

print(boolean_tuple)

(False, True, True, False, True)

## Задание 3

**Условие:**
Напишите функцию ```f_abs()``` нахождения модуля числа, которая получает на вход число и возвращает его, если оно положительно, иначе возвращает число с обратным знаком.
Примените ее к числу ```170**2 - 150**3```.

**Формат ответа:**
Число (например, ```-20```)

**Оценка в баллах:** 4 балла

**Решение:**

In [6]:
def f_abs(number):
    if number >= 0:
        return number
    else:
        return -number

result = f_abs(1702 - 1503)
print(result)

199